@model Semester6.Models.ToetsResultaat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToetsResultaat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toets.ToetsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHerkansing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHerkansing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijfer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ToetsResultaatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
