@model IEnumerable<Semester6.Models.ToetsResultaat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHerkansing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijfer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toets.ToetsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHerkansing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijfer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToetsResultaatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToetsResultaatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToetsResultaatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
